<div class="container">
    <div class="text2">
        <div class="right">
            <a href="" class="document">условия-договора.pdf</a>
        </div>
        <div class="text">
            <p>Мы можем привезти из Германии практически любой автомобиль в возрасте до 5 лет.</p>
            <p> Из-за особенностей таможенных пошлин рекомендуем искать автомобили в возрасте 3-5 лет.</p>
            <p> На автомобили в возрасте до 3х лет (включая новые) пошлина составляет 48% - везти такие автомобили из Германии не всегда целесообразно. </p>
            <p> В расчете учитывается: </p>
            <p>  таможенная пошлина (для ознакомеления с пошлиной воспользуйтесь сайтом tks.ru);</p>
            <p>   затраты на проверку автомобиля в Германии; </p>
            <p> затраты на покупку и оплату автомобиля в Германии; </p>
            <p>  затраты на возмещение НДС (вы сразу покупаете автомобиль по Нетто); </p>
            <p>   затраты на доставку автомобиля; </p>
            <p>    затраты на страхование автомобиля на время доставки; </p>
            <p>предпродажная проверка и подготовка автомобиля перед выдачей. </p>
                
            <p>Таможня для автомобилей в возрасте 3-5 лет зависит от объема двигателя: </p>
            <p>   1.5 л - 2550 евро; </p>
            <p>   2.0 л - 5400 евро; </p>
            <p>   3.0 л - 9000 евро; </p>
                
            <p>Таможня для автомобилей в возрасте до 3 лет (включая новые) составляет 48% от стоимости. </p>
                
            <p>Доставка автомобилей стоимостью выше 50 000 евро несет дополнительные затраты, что так же учитывается при расчете окончательной стоимости автомобиля.</p>
        </div>
    </div>
</div>

