.header {
    width: 100%;
    height: 80px;
    background-color: #3f51b5;
    box-shadow: 0px 4px 6px 4px rgba(34, 60, 80, 0.4);
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 30px;
    color: white;
    width: 100%;
    &-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    width: 45px;
    height: 45px;
    background-image: url('/assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    &-text {
        margin-left: 15px;
        font-size: 21px;
        font-weight: 600;
    }
}
.box {
    margin-left: 20px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px; 
    &_basic {
        color: black;
        background-color: #fff;
    }
    &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &_active {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
.user {
    margin-left: 30px;
}
.reshenie-problemi {
   height: 80px;
}