.page {
    padding: 30px 0;
    form {
        display: flex;
        flex-direction: column;
        input {
            margin-top: 15px;
            height: 30px;
            width: 300px;
            padding: 8px;
            border-radius: 8px;
        }
        button {
            margin-top: 20px;
            width: 300px;
            &.disabled {
                cursor: default;
                background-color: #c3c3c3;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
    .errors {
        height: 50px;
        span {
            margin-top: 15px;
            display: block;
            color: #f44336;
        }
    }
    .links {
        display: flex;
        &__tab {
            cursor: pointer;
            padding: 5px 10px;
            margin-left: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #fff;
            box-shadow: 0 1px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
            &_active {
                background-color: #ff4081;
                color: white;
            }
        }
    }
    .card_top {
        position: relative;
        z-index: 50;
    }
}
