* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
} 
.container {
    width: 1040px;
    margin: 0 auto;
}
button {
    background-color: #ff4081;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
}
body {
    background-color: #fafafa;
}
.card-outlined {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 20px 30px;
}
.table {
    &__line {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    &__header {
        color: white;
        background-color: #262626;
        .table__cell {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    &__cell {
        padding: 0 6px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;
        span { 
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.form {
    &-item {
        margin-top: 20px;
        input {
            margin-top: 8px;
            padding: 10px;
            min-width: 300px;
            border-radius: 10px;
            border-style: solid;
        }
    }
    .ng-valid {
        border-color: green;
    }
    .ng-invalid {
        &.ng-touched {
            border-color: red;
        }
    }
}